*{
   margin: 0; padding: 0; box-sizing: border-box;
   font-family:'josefin sans', sans-serif;


}
header{
  width: 100%; height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('face.png');
  background-repeat:mo-repeat;
 background-size: cover
}
nav{
 width: 100%; height: 15vh;
 background: rgba(0,0,0,0.2);
 color: white; display: flex; justify-content: space-between;
 align-items:center; text-transform: uppercase;
}
nav .logo{
  width: 25%; text-align: center;
}

nav .menu{
 width:40%;
 display: flex; justify-content: space-around;
 
}

nav .menu a{
width: 25%;
text-decoration: none; colour: white;
font-weight: bold; color: white;
}

main{
 width:100%;
 height: 85vh;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: white;
}

section h3{
 font-size: 75px; font-weight:200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
 
}

section h1{
    margin: 30px 0 20px 0;
    font -size: 55px;
    font- weight: 700;
    text-shadow: 2px 1px 5px black;
}

section a{
     padding: 12px 30px;
     border radius: 4px;
     outline: none;
     text-transform: uppercase;
     font-size: 13px;
     font-weight: 500;
     text-decoration: none;
     letter-spacing: 1px;
        
}

section .btnone{
  background: white; color: black;
}

section .btntwo{
    background: #00b894;
    color: white;
}
