<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
  <div class="container">
            <div class="row justify-content-center">
                <h1><span class="badge badge-primary">Face Mask Detector</span></h1>
            </div>
            <div class="row justify-content-center">
                <img id="MainFrame" src="{% url 'video_feed' %}">
            </div>
            <div class="row justify-content-center m-3">                
<a type="button" class="btn btn-warning" href="/">Exit</a>
</div>
            {% comment %} <div class="row justify-content-center mt-3">
            <h4>Contributors</h4>
            </div>
            <div class="row justify-content-center">
            <h6><b>COMPSEA0901</b>- Darshan Kadam 
            <br><b>COMPSEA1023</b>- Abhishek Borase
            <br><b>COMPSEA0906</b>- Siddharth Sahuji
            <br><b>COMPSEA1002</b>- Yash Bhujbal
            <br><b>COMPSEA1024</b>- Devyani Raut</h6>


            </div> {% endcomment %}
 
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


